.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  margin-top: 20px;
  background: white !important;
  padding: 1.5rem;
  border-radius: 12px !important;
  max-width: 400px;
  width: 90%;
  height: 580px;
  position: relative;
  text-align: center;
}

.modal-close {
  position: absolute;
  color: black;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.listButton {
  padding: 3px 5px;
  background-color: #009e35;
  color: white;
  width: 90px;
  font-size: 12px;
  height: 28px;
  border: none;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.IdNameArea {
  display: flex;
  justify-content: center;
}
.IdNameArea .Id {
  font-size: 28px;
  margin-right: 10px;
}
